---
import BaseHead from "@/components/BaseHead.astro";
interface Props {
    title: string;
}
const {title} = Astro.props;
---

<!doctype html>
<html lang="es">
    <BaseHead title={title} image="" description=""/>
    <body class="bg-dark-blue m-4">
        <main>
            <slot />
        </main>

        <footer></footer>
    </body>
</html>
